---
---

@import "{{ site.theme }}";
#header {
  z-index: 100;
  left:0;
  top: 0px;
  height: 100px;
  width: 100%;
  position: fixed;
  background: url(../images/nav-bg.gif) #353535;
  border-bottom: 4px solid #434343;
  box-shadow: 0px 1px 3px rgba(0,0,0,.25);

  nav {
    max-width: 850px;
    margin: 0 auto;
    padding: 0 10px;
    background: blue;
    margin: 6px auto;

    li {
      font-family: 'OpenSansLight', "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: normal;
      list-style: none;
      display: inline;
      color: white;
      line-height: 50px;
      text-shadow: 0px 1px 0px rgba(0,0,0,.2);
      font-size: 14px;

      a {
        color: black;
        font-weight: bold;
        border: 1px solid #5d910b;
        background: linear-gradient(#93bd20, #659e10);
        border-radius: 2px;
        box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), 0px 3px 7px rgba(0,0,0,.7);

        background-color: #93bd20;
        padding: 10px 12px;
        margin-top: 6px;
        line-height:14px;
        font-size:14px;
        display:inline-block;
        text-align:center;

        &:hover {
          background: linear-gradient(#749619, #527f0e);
          background-color: #659e10;
          border: 1px solid #527f0e;
          box-shadow: inset 0px 1px 1px rgba(0,0,0,.2), 0px 1px 0px rgba(0,0,0,.0);
        }
      }

      &.sig {
        float: left;
        margin-left: 6px;
      }

      &.team {
        float: left;
        margin-left: 6px;
      }

      &.title {
        float: left;
        margin-left: 12px;
        margin-right: 6px;
        font-size: 16px;
      }
    }
  }
}
h1 {
  font-size: 28px;
  line-height: 1.3em;
  margin-top: 1em;
}
h2 {
  font-size: 20px;
  line-height: 1.3em;
  margin-top: 1.8em;
}
h3 {
  font-size: 16px;
}
footer {
  z-index: 100;
  left: 0;
  bottom: 0px;
  height: 40px;
  width: 100%;
  position: fixed;
  background: url(../images/nav-bg.gif) #353535;
  border-top: 4px solid #434343;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, .25);
  display: inline-block;
  text-align: center;
  a {
    font-size: 12px;
  }
}
th {
  font-size: 16px;
  color: white;
}
.wrapper {
  max-width:800px;
  margin:0 auto;
  position:relative;
  padding: 0 20px;
}
section {
  max-width: 800px;
  padding: 30px 0px 50px 0px;
  margin: 20px 0;
  margin-top: 80px;
}
._0_neutral {
  width:14px;
  height:14px;
  padding: 4px;
  -moz-border-radius: 30%;
  border-radius: 30%;
  background-color: white;
}
._1_open {
  width:14px;
  height:14px;
  padding: 4px;
  -moz-border-radius: 30%;
  border-radius: 30%;
  background-color: #C90C0F;
}
._2_draft {
  width:14px;
  height:14px;
  padding: 4px;
  -moz-border-radius: 30%;
  border-radius: 30%;
  background-color: #EA5B0C;

}
._3_sig_agreed {
  width:14px;
  height:14px;
  padding: 4px;
  -moz-border-radius: 30%;
  border-radius: 30%;
  background-color: #F9FF42;
}
._4_stakeholder_checked {
  width:14px;
  height:14px;
  padding: 4px;
  -moz-border-radius: 30%;
  border-radius: 30%;
  background-color: #42c0fb;
}
._5_presented {
  width:14px;
  height:14px;
  padding: 4px;
  -moz-border-radius: 30%;
  border-radius: 30%;
  background-color: #00B050;
}
._3_team_agreed {
  width:14px;
  height:14px;
  padding: 4px;
  -moz-border-radius: 30%;
  border-radius: 30%;
  background-color: #00B050;
}