---
layout: default
---

{% include /functions/get-status-infos.html mydecision=page %}
<h1><img class={{ status_class }} src="{{ site.url }}{{ status_filename | relative_url }}"/> &nbsp;
    {{ page.title }}</h1>

<dl>
    <dt>Acronym</dt>
    <dd>{{ page.acronym }}</dd>

    <dt>Belongs to</dt>
    <dd>{% include /functions/print-belongs-to-link.html mydecision=page %}</dd>

    <dt>Responsible</dt>
    <dd>{% include /functions/resolve-names.html mydecision=page %}{{ responsible_string }}</dd>

    {% include /functions/is-decision-open.html mydecision=page %}
    {% if decision_is_open %}
        <dt>Deadline</dt>
        <dd>{{ page.deadline }}</dd>
    {% endif %}

    {% include /functions/find-decision-errors.html mydecision=page %}
    {% if error_string.size > 0 %}
        <dt><img src="{{ site.url }}{{ '/assets/error-4-24.png' | relative_url }}"/> &nbsp; Errors</dt>
        {% assign error_list = error_string | split: ";" %}
        {% for error in error_list %}
            <dd>{{ error }}</dd>
        {% endfor %}
    {% endif %}


    {% if page.todos and page.todos.size > 0 %}
        {% assign todo_counter = 0 %}
        <dt>Todos</dt>
        {% for entry in page.todos %}
            {% assign todo_counter = todo_counter | plus: 1 %}
            <dd>({{ todo_counter }}) {{ entry }}</dd>
        {% endfor %}
    {% endif %}

    <dt>History</dt>
    {% for entry in page.history %}
        <dd>({{ entry[0]}}) &nbsp; {{ entry[1].date }} - {{ entry[1].comment }}</dd>
    {% endfor %}
</dl>


{{ page.content }}
