{% assign raw_list = include.mydecision.responsible | split: ";" %}
{% assign responsible_list = "" | split: ";" %}

{% for person_raw in raw_list %}
	{% assign acronym = person_raw | strip | upcase %}
	{% if site.data.people[acronym] %}
		{% if site.data.people[acronym].nickname %}
			{% assign responsible_list = responsible_list | push: site.data.people[acronym].nickname %}
		{% else %}
			{% assign responsible_list = responsible_list | push: acronym %}
		{% endif %}
	{% endif %}
{% endfor %}

{% if responsible_list.size > 0 %}
	{% assign responsible_string = responsible_list | array_to_sentence_string: "und" }} %}
{% else %}
	{% assign responsible_string = "???" %}
{% endif %}


